@{
    ViewData["Title"] = "Patients List";
}

<h1>Welcome to the Clinic Booking System</h1>
<p>This is the Patients page.</p>
@{
    ViewData["Title"] = "Patients List";
}

<h1>Welcome to the Clinic Booking System</h1>
<p>This is the Patients page.</p>
