@model ClinicBookingSystemAPP.Models.Patient

@{
    //ViewData["Title"] = "Add New Patient";
}


<link rel="stylesheet" href="~/css/patientCreate.css" />
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text"
                   id="fullName"
                   name="fullName"
                   class="form-control" />
            <span class="text-danger">* Error message for full name *</span>
        </div>

        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" />
            <span class="text-danger">* Error message for phone *</span>
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" />
            <span class="text-danger">* Error message for email *</span>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-secondary">Cancel</button>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
